In [157]:
import csv
from selenium import webdriver
from selenium.webdriver.chrome.service import Service
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
import pandas as pd
import re
import os
import argparse
from time import time
from sqlalchemy import create_engine
import warnings
from datetime import datetime, timedelta
import numpy as np
df = pd.read_csv('playaround.csv',index_col=False)

In [158]:
#adding manipulating variables 
states = 'Selangor'
types = 'Auction'
year = 2023

In [159]:

#Add information into database 
df['States'] = states 
df['Sale_Type'] = types
df['Year'] = year
price_nums = df['Price'].str.replace(' ','').str.replace("RM",'')
size_nums = df['Size'].str.replace('sq.ft.', '').astype(float)
price_nums = pd.to_numeric(price_nums, errors='coerce')
size_nums = pd.to_numeric(size_nums, errors='coerce')

df['Absolute Price(RM)'] = price_nums/size_nums
df['Absolute Price(RM)'] = df['Absolute Price(RM)'].replace(np.nan, '-')
df['Absolute Price(RM)'] = np.round(df['Absolute Price(RM)'],2)

df['Date'] = df["Date"].astype(str)
df['Year'] = df["Year"].astype(str)

C:\Users\User\AppData\Local\Temp\ipykernel_9288\3172208886.py:6: FutureWarning: The default value of regex will change from True to False in a future version.
  size_nums = df['Size'].str.replace('sq.ft.', '').astype(float)

In [162]:
today = datetime.today().strftime('%b %d, %H:%M')
yesterday = (datetime.today() - timedelta(days=1)).strftime('%b %d, %H:%M')

for index, row in df.iterrows():
    if 'Today' in row['Date']:
        df.at[index, 'Date'] = today
    elif 'Yesterday' in row['Date']:
        df.at[index, 'Date'] = yesterday

In [166]:
#revise date column with format 
df['Timestamp'] = pd.to_datetime(df['Date'] + ' ' + df['Year'], format='%b %d, %H:%M %Y')
df['Formatted_Timestamp'] = df['Timestamp'].dt.strftime('%Y/%m/%d %H:%M:%S')

In [167]:
df.head(2)

,Title,Price,Unit Type,Size,Bedrooms,Bathrooms,Date,Location,States,Sale_Type,Year,Absolute Price(RM),Timestamp,Formatted Timestamp
0,Apartment in Taman Puchong Indah,RM 97 200,Apartment / Condominium,645 sq.ft.,3 Bedrooms,1 Bathroom,"Jul 02, 20:21",Puchong,Selangor,Auction,2023,150.70,2023-07-02 20:21:00,2023/07/02 20:21:00
1,"Freehold 3 Bedroom Impiana Apartment 1 (Flat),...",RM 117 000,Apartment / Condominium,657 sq.ft.,3 Bedrooms,1 Bathroom,"Jul 01, 20:21",Cheras,Selangor,Auction,2023,178.08,2023-07-01 20:21:00,2023/07/01 20:21:00

In [111]:

# Set up the PostgreSQL connection
connection_string = 'postgresql+psycopg2://postgres:postgres@localhost:5432/postgres'
connect_args = {
    "options": "-csearch_path=mudah_lelong"
}

engine = create_engine(connection_string, connect_args=connect_args)

In [112]:

# Append data to the table
df.to_sql('mudah_lelong', con=engine, if_exists='append',index=False)

205